<h1>Sign Up or Sign In</h1>
<div class="row">
    <div class="col-sm-6">
        <h2>Sign In</h2>
        <div class="border-form-div">
            <div>Email: <input ng-model="login_user.email"></div>
            <div>Password: <input type="password" ng-model="login_user.password"></div>
            <button ng-click="auth.login()" class="btn btn-primary">Login</button>
        </div>
    </div>

    <div class="col-sm-6">
        <h2>Sign Up</h2>
        <div class="border-form-div">
            <div>Email: <input ng-model="register_user.email"></div>
            <div>Password: <input type="password" ng-model="register_user.password"></div>
            <div>Password Confirmation: <input type="password" ng-model="register_user.password_confirmation"></div>
            <button ng-click="auth.register()" class="btn btn-primary">Register</button>
        </div>
    </div>
</div>
