<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <a ui-sref="welcome" class="navbar-brand">Hitch</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li><a ui-sref="welcome">Home</a></li>
        <li ng-show="!user.id"><a ui-sref="login">Login | Register</a></li>
        <li ng-show="user.id"><a class="pointer" ng-click="auth.handleSignOutBtnClick()">Logout</a></li>
        <li ng-show="user.id"><a ui-sref="new_ride">Post New Ride</a></li>
    </ul>
  </div>
</nav>
