
<a ng-click="ride.newCarpool('TESTING')">Book a Ride</a>
<div ng-if="!ride.rides.length" ng-hide="ride.loading">
  <h1>Your search did not return any rides. Please try a different search.</h1>
</div>
<div class="ride-loading" ng-show="ride.loading">
  <h2>Loading</h2>
</div>
<div class="ride-search" ng-hide="ride.loading">
    <div class="ride-search-results container-fluid">
        <div class="single-ride row" ng-repeat="r in ride.rides" ng-click="ride.newCarpool(r)">
            <button type="submit" class="btn btn-info btn-lg" ng-click=ride.newCarpool(r)>Book This Ride</button>
                <div class="col-md-2 driver-profile container-fluid">
                    <div class="driver-profile-head">
                        <div class="driver-profile-picture">
                        </div>
                        <div class="driver-profile-info">
                            <h2>{{ r.user.username }} Driver Name</h2>
                        </div>
                    </div>
                    <div class="driver-profile-row">
                        <p class="ratings-container">
                            <span>{{ r.user_id.ratings }} 4.6/5 </span>
                            <span>{{ r.user_id.ratings.count }} 15 ratings</span>
                        </p>
                    </div>
                    <div class="driver-profile-row">
                        <span>
                            <i class="FB LOGO"></i>
                            <p>number of fb friends</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-8 ride-description container-fluid">
                    <h3>{{ r.ride_date }}</h3>
                    <h3>{{ r.departure_location }} > {{ r.arrival_location }}</h3>
                    <dl class="ride-from">
                        <dd><%= image_tag "003-green-circle.png" %> {{ r.departure_location }} at {{ r.departure_time | date : 'shortTime' }}</dd>
                    </dl>
                    <dl class="ride-to">
                        <dd><%= image_tag "002-red-circle.png" %> {{ r.arrival_location }}</dd>

                    </dl>
                </div>
                <div class="col-md-2 ride-offer container-fluid">
                    <div class="seat-price">
                        <strong><span class>{{ r.seat_price | currency : $ }} per passenger</span></strong>
                    </div>
                    <div class="availability">
                        <strong>{{ r.available_seats }}</strong><span> open spots</span>
                    </div>
                </div>
                <hr class="section-divider">
        </div>
    </div>
</div>
