
<a ng-click="ride.newCarpool('TESTING')">Book a Ride</a>
<div ng-if="!ride.rides.length" ng-hide="ride.loading">
  <h1>Your search did not return any rides. Please try a different search.</h1>
</div>
<div class="ride-loading" ng-show="ride.loading">
  <h2>Loading</h2>
</div>
<div class="ride-search" ng-hide="ride.loading">
    <div class="ride-search-results container-fluid">
        <div class="single-ride row" ng-repeat="ride in ride.rides" ng-click="ride.newCarpool(ride)">
            <a ng-click="ride.newCarpool('testing')">Click Me Inside Div</a>
                <div class="col-md-2 driver-profile container-fluid">
                    <div class="driver-profile-head">
                        <div class="driver-profile-picture">
                        </div>
                        <div class="driver-profile-info">
                            <h2>{{ ride.user.username }} Driver Name</h2>
                        </div>
                    </div>
                    <div class="driver-profile-row">
                        <p class="ratings-container">
                            <span>{{ ride.user_id.ratings }} 4.6/5 </span>
                            <span>{{ ride.user_id.ratings.count }} 15 ratings</span>
                        </p>
                    </div>
                    <div class="driver-profile-row">
                        <span>
                            <i class="FB LOGO"></i>
                            <p>number of fb friends</p>
                        </span>
                    </div>
                </div>
                <div class="col-md-8 ride-description container-fluid">
                    <h3>{{ ride.ride_date }}</h3>
                    <h3>{{ ride.departure_location }} > {{ ride.arrival_location }}</h3>
                    <dl class="ride-from">
                        <dd><%= image_tag "003-green-circle.png" %> {{ ride.departure_location }} at {{ ride.departure_time }}</dd>
                    </dl>
                    <dl class="ride-to">
                        <dd><%= image_tag "002-red-circle.png" %> {{ ride.arrival_location }}</dd>

                    </dl>
                </div>
                <div class="col-md-2 ride-offer container-fluid">
                    <div class="seat-price">
                        <strong><span class>{{ ride.seat_price | currency : $ }}</span></strong>
                        <span>per passenger</span>
                    </div>
                    <div class="availability">
                        <strong>{{ ride.available_seats }}</strong>
                        <span>seat left</span>
                    </div>
                </div>
                <hr class="section-divider">
        </div>
    </div>
</div>
