<h4 ng-if="user">Welcome, {{user.username}}</h4>

<div class="jumbotron">  
    <h1>Hitch</h1>
    <p>Find your ride</p>
    <button class="button-lg" onclick="#welcome-search">Search Now</button>
</div>


<div class="container-fluid">
    <h2>Get Where You Need to Be</h2>
    <div class="row">
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:date"/>
            </div>
            <h2>Book In Advance</h2>    
            <p>Know your schedule? Search early to find your best rides</p>
        </div>
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:car"/>
            </div>
            <h2>Verified Drivers</h2>
            <p>Our communnity of drivers are rated on each ride they have driven</p>
        </div>
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:credit"/>
            </div>
            <h2>Seamless Payment</h2>
            <p>Pay or receive payment online without the hassle of cash transactions</p>
        </div>
    </div>
</div>




<div class="container-fluid search" id="welcome-search">
    <h1>Where are you going?</h1>

    <ng-include src="'partials/_ride_search.html'"></ng-include>
    
    <button class="button-md" ng-click="ride.rides">Search</button>

</div>



<div class="container-fluid">
    <h2>How Does Hitch Work?</h2>
    <div class="row">
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:search"/>
            </div>
            <h2>Search for a Hitch</h2>    
            <p>Enter in your route and date of travel.</p>
        </div>
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:like2"/>
            </div>
            <h2>Confirm Your Trip</h2>
            <p>Reserve the number of seats you need online.</p>
        </div>
        <div class="col-xs-4">
            <div>
                <webicon icon="stroke7:users"/>
            </div>
            <h2>Get Hitched Up</h2>
            <p>Share a ride and share your opinion after your trip to help others.</p>
        </div>
    </div>
</div>
